 - name: Add Docker GPG apt Key
   apt_key:
      url: https://download.docker.com/linux/ubuntu/gpg
      state: present

 - name: Save the current Ubuntu release version into a variable
   shell: lsb_release -cs
   register: ubuntu_version

 - name: Add Docker Repository
   apt_repository:
      repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ubuntu_version.stdout }} stable"
      state: present
 - name: Update apt packages
   apt:
      update_cache: "yes"
      force_apt_get: "yes"

 - name: Install packages needed for Docker
   apt:
      name: "{{ PACKAGES }}"
      state: present
      force_apt_get: "yes"
 - name: link python3 to python
   command: ln /usr/bin/python3 /usr/bin/python
